a {
	text-decoration: none;
	color: black;
	padding: 20px;
	font-family: arial;
	padding-left: 10px;

}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
}

h1 {
	text-align: center;
}

.aboutus{
	width:300px;
	display:inline-block;
	float:left;
	font-size:20px;
	margin-left: 20px;
}
.about{
	padding-left:450px;
	float:left;
	width:200px;
	display:inline-block;
}


.footer{
	font-size: 30px;
	background-color: #8B0000;
    clear:left;
    width:50%;
    margin-left: 20px;
}



