
body {
	margin: 150 auto;
}

a {
	text-decoration: none;
	color: black;
	padding: 20px;
	font-family: arial;
	padding-left: 10px;

}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
}

h1 {
	text-align: center;
}

.aboutus{
	width:30%;
	display:inline-block;
	float:left;
	font-size:20px;
	margin-left: 20px;
}
.about{
	padding-top: 100px;
	padding-left:350px;
	float:left;
	width:30%;
	display:inline-block;
}


.footer{
	font-size: 30px;
	background-color: #8B0000;
    clear:left;
    width:50%;
    margin-left: 20px;
}


.hometoppic {
	max-width: 100%;
	text-align: center;
	padding-top: 10px;
}

.donatenow {
	/*text-align: center;
	font-size: 50px;*/
	font-size: 30px;
	background-color: #8B0000;
    clear:left;
    width:50%;
    margin-left: 20px;
}

a:hover {
	text-decoration: underline;
}
header {
	box-sizing: border-box;
}

p {
	text-align: justify;
	max-width: 100%;
	margin: 30px; 
}

.getinvolvedtoppic {
	float: left;
	padding-right: 25px;
	margin-left: 30px;
	margin-top: 10px;
	clear: left;
}

.penniescount {
	font-family: arial;
	padding: 0px;
	margin-left: 30px;
	font-size: 30px;
	margin-top: 70px;
}

.contactinfo li {
	display: block;
	max-width: 30%;
	margin-left: 150px;
}



h3 {
	margin-left: 30px;
	margin-top: 20px;
}

.getinvolvedhead {
	width:300px;
	display: block;
	float:left;
	font-size:20px;
	margin-left: 0px;
}

h4 {
	margin-left: 160px;
}